sitae/src/main/webapp/WEB-INF/MuleSAFEAutWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="IMuleSAFEAutService" targetNamespace="http://interfaces.muleSAFE.xaloc.cv.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://interfaces.muleSAFE.xaloc.cv.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://interfaces.muleSAFE.xaloc.cv.com/" xmlns:tns="http://interfaces.muleSAFE.xaloc.cv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="autenticaUsuarioLDAPWS" type="tns:autenticaUsuarioLDAPWS" />
<xsd:complexType name="autenticaUsuarioLDAPWS">
<xsd:sequence>
<xsd:element minOccurs="0" name="idEntidadLocal" type="xsd:string" />
<xsd:element minOccurs="0" name="xmlAutLDAP" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="autenticaUsuarioLDAPWSResponse" type="tns:autenticaUsuarioLDAPWSResponse" />
<xsd:complexType name="autenticaUsuarioLDAPWSResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getInformacionWS" type="tns:getInformacionWS" />
<xsd:complexType name="getInformacionWS">
<xsd:sequence>
<xsd:element minOccurs="0" name="idEntidadLocal" type="xsd:string" />
<xsd:element minOccurs="0" name="xmlGetInformacion" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getInformacionWSResponse" type="tns:getInformacionWSResponse" />
<xsd:complexType name="getInformacionWSResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="autenticaUsuarioWS" type="tns:autenticaUsuarioWS" />
<xsd:complexType name="autenticaUsuarioWS">
<xsd:sequence>
<xsd:element minOccurs="0" name="idEntidadLocal" type="xsd:string" />
<xsd:element minOccurs="0" name="xmlAut" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="autenticaUsuarioWSResponse" type="tns:autenticaUsuarioWSResponse" />
<xsd:complexType name="autenticaUsuarioWSResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="autenticaConFirmaWS" type="tns:autenticaConFirmaWS" />
<xsd:complexType name="autenticaConFirmaWS">
<xsd:sequence>
<xsd:element minOccurs="0" name="idEntidadLocal" type="xsd:string" />
<xsd:element minOccurs="0" name="xmlAutCert" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="autenticaConFirmaWSResponse" type="tns:autenticaConFirmaWSResponse" />
<xsd:complexType name="autenticaConFirmaWSResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="autenticaConFirmaWS">
    <wsdl:part element="tns:autenticaConFirmaWS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInformacionWSResponse">
    <wsdl:part element="tns:getInformacionWSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInformacionWS">
    <wsdl:part element="tns:getInformacionWS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticaUsuarioLDAPWS">
    <wsdl:part element="tns:autenticaUsuarioLDAPWS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticaUsuarioLDAPWSResponse">
    <wsdl:part element="tns:autenticaUsuarioLDAPWSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticaConFirmaWSResponse">
    <wsdl:part element="tns:autenticaConFirmaWSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticaUsuarioWS">
    <wsdl:part element="tns:autenticaUsuarioWS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticaUsuarioWSResponse">
    <wsdl:part element="tns:autenticaUsuarioWSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMuleSAFEAut">
    <wsdl:operation name="autenticaUsuarioLDAPWS">
      <wsdl:input message="tns:autenticaUsuarioLDAPWS" name="autenticaUsuarioLDAPWS">
    </wsdl:input>
      <wsdl:output message="tns:autenticaUsuarioLDAPWSResponse" name="autenticaUsuarioLDAPWSResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformacionWS">
      <wsdl:input message="tns:getInformacionWS" name="getInformacionWS">
    </wsdl:input>
      <wsdl:output message="tns:getInformacionWSResponse" name="getInformacionWSResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticaUsuarioWS">
      <wsdl:input message="tns:autenticaUsuarioWS" name="autenticaUsuarioWS">
    </wsdl:input>
      <wsdl:output message="tns:autenticaUsuarioWSResponse" name="autenticaUsuarioWSResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticaConFirmaWS">
      <wsdl:input message="tns:autenticaConFirmaWS" name="autenticaConFirmaWS">
    </wsdl:input>
      <wsdl:output message="tns:autenticaConFirmaWSResponse" name="autenticaConFirmaWSResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMuleSAFEAutServiceSoapBinding" type="tns:IMuleSAFEAut">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autenticaUsuarioLDAPWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="autenticaUsuarioLDAPWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="autenticaUsuarioLDAPWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformacionWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInformacionWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInformacionWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticaUsuarioWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="autenticaUsuarioWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="autenticaUsuarioWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticaConFirmaWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="autenticaConFirmaWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="autenticaConFirmaWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMuleSAFEAutService">
    <wsdl:port binding="tns:IMuleSAFEAutServiceSoapBinding" name="IMuleSAFEAutPort">
      <soap:address location="http://premule.dipcas.es/services/MuleSAFEAutWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>